    
<div class="container mt-5"  >
  <div class="row">
    <div class="col-sm-3"></div>
   
      <div class="col-sm-6">
          <div id="box">
              <!-- Tab panes -->
              <div class="tab-content">
                  <div id="home" class="container tab-pane active"><br>
                      <h3>
                          ORDER NOW
                      </h3>
                      <div class="form-outline">
                           <form class="login_form" role="form" [formGroup]="orders"
                              (ngSubmit)="orderuserdata(orders.value)"
                               class="inputUsersForm">
                              Service Type
                              <hr style="height:1px;border-width:1px;color:black;background-color:black">
                              <p class="">
                                  <input type="radio" name="servicetype" value="Steam&Ironing" [(ngModel)]="selectedService" (click)="selectedServices()"><label
                                      for="">&nbsp; Steam Ironing &nbsp;</label>
                                  <input type="radio" name="servicetype" value="Washing&Pressing" (change)="selectedServices()"><label
                                      for="vehicle2">&nbsp; Washing & Pressing &nbsp;</label>
                                  <input type="radio" name="servicetype" value="Both" (change)="selectedServices()"><label
                                      for="vehicle2">&nbsp; Both &nbsp;</label><br>
                              </p>
                              Service Items
                              <hr style="height:1px;border-width:1px;color:black;background-color:black">
                              <p id="shirts" name="vehicle1"><label for="">Shirts&nbsp;&nbsp;8 X</label>
                                  <!-- <button onclick="increaseValue1()" class="left-button">+</button> -->
                                  <input type="number" id="my-input1" class="e-input" size="1" value="0"
                                      [(ngModel)]="NoOfShirts" formControlName="NoOfShirts" min="0"
                                      class="left-button"><!--number input won't obey the size-->
                                  <!-- <button onclick="decreaseValue1()" class="left-button">-</button><br> -->
                              </p>
                              <p id="vehicle2" name="vehicle2"><label for="vehicle2">Pants&nbsp;&nbsp;8
                                      X</label>
                                  <!-- <button onclick="increaseValue2()" class="left-button">+</button> -->
                                  <input type="number" id="my-input2" size="1" value="0" [(ngModel)]="NoOfPants"
                                      class="left-button" formControlName="NoOfPants"  min="0">
                                  <!-- <button onclick="decreaseValue2()" class="left-button">-</button><br> -->
                              </p>
                              <p id="ladies" name=""><label for="vehicle2">Ladies Top&nbsp;&nbsp;9 X
                                  </label>
                                  <!-- <button onclick="increaseValue3()" class="left-button">+</button> -->
                                  <input type="number" id="my-input3" size="1" value="0" [(ngModel)]="NoOfLadiesTop"
                                      class="left-button" formControlName="NoOfLadiesTop"  min="0">
                                  <!-- <button onclick="decreaseValue3()" class="left-button">-</button><br> -->
                              </p>
                              <p id="vehicle2" name="vehicle2"><label for="vehicle2">Blouse&nbsp;&nbsp;5
                                      X</label>
                                  <!-- <button onclick="increaseValue4()" class="left-button">+</button> -->
                                  <input type="number" id="my-input4" size="1" value="0" [(ngModel)]="NoOfBlouse"
                                      class="left-button" formControlName="NoOfBlouse" min="0">
                                  <!-- <button onclick="decreaseValue4()" class="left-button">-</button><br> -->
                              </p>
                              <p id="vehicle2" name="vehicle2"><label for="vehicle2">Dhoti&nbsp;&nbsp;15
                                      X</label>
                                  <!-- <button onclick="increaseValue5()" class="left-button">+</button> -->
                                  <input type="number" id="my-input5" size="1" value="0" [(ngModel)]="NoOfDhoti"
                                      class="left-button" formControlName="NoOfDhoti" min="0">
                                  <!-- <button onclick="decreaseValue5()" class="left-button">-</button><br> -->
                              </p>
                              <p id="vehicle2" name="vehicle2"><label for="vehicle2">Saree&nbsp;&nbsp;40
                                      X</label>
                                  <!-- <button class="left-button">+</button> -->
                                  <input type="number" id="my-input6" size="1" value="0" [(ngModel)]="NoOfSaree"
                                      class="left-button" formControlName="NoOfSaree" min="0">
                                  <!-- <button onclick="decreaseValue6()" class="left-button">-</button><br> -->
                              </p>
                              <p id="vehicle2" name="vehicle2"><label for="vehicle2">Shaul&nbsp;&nbsp;8
                                      X</label>
                                  <!-- <button onclick="increaseValue7()" class="left-button">+</button> -->
                                  <input type="number" id="my-input7" size="1" value="0" [(ngModel)]="NoOfShaul"
                                      class="left-button" formControlName="NoOfShaul" min="0">
                                  <!-- <button onclick="decreaseValue7()" class="left-button">-</button><br> -->
                              </p>
                              <br>
                              Order Summary
                              <hr style="height:1px;border-width:1px;color:black;background-color:black">


                              <p class="right-button">
                                  Total Items in the cart
                              </p>
                              <p class="left-button" formControlName="totalitems">
                                  {{NoOfShirts+NoOfPants+NoOfLadiesTop+NoOfBlouse+NoOfDhoti+NoOfSaree+NoOfShaul}}
                              </p>
                              <br>
                              <p class="right-button">
                                  Total Amount
                              </p>

                              <p class="left-button" >
                                  {{8*NoOfShirts+8*NoOfPants+9*NoOfLadiesTop+5*NoOfBlouse+15*NoOfDhoti+40*NoOfSaree+8*NoOfShaul|currency:'INR'}}
                              </p>
                              <br>
                              <button type="submit"class="btn btn-dark">order</button>
                           </form>
                          <br><br>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-3"></div>
      
  </div>
