<div id="body">
<div class="container">
  <br><br>
    <div class="row">
      <div class="col-sm-4">
        <br><br>
        <h1 class="shadow-text">Welcome to LaundryBasket</h1>
      </div><br><br>
      <div class="col-sm-4">
        <br><br>
        <div class="gallery">
          <div>
            <h3>THE STRUGGLE IS REAL , RIGHT ? </h3>
          </div>

          <div>
            <h2>WASH AWAY </h2>
            <h3>YOUR WORRIES.</h3>
          </div>

          <div>
            <h3>LOAD OF LOVE AND LAUNDRY.</h3>
          </div>
          <div>
            <h3>THE NEVER ENDING STORY.</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <br>
        <div class="gallery">

          <img
            src="../../../assets/kisspng-washing-machines-laundry-symbol-combo-washer-dryer-5affacdc661a47.3136367215267053724182.png"
            height="225px" alt="a dream catcher">



          <img
            src="../../../assets/kisspng-t-shirt-clothing-computer-icons-closet-5acd22b7904477.6123718215233932075909.png"
            height="225px" alt="a piano">



          <img
            src="../../../assets/kisspng-clothes-iron-computer-icons-ironing-home-appliance-5b3ca6aa156d13.8840860115307014820878.png"
            height="225px" alt="a live concert">

          <img
            src="../../../assets/kisspng-computer-icons-pizza-delivery-cooking-games-logist-food-icon-5aeac803609e72.4584033315253360673958.png"
            height="225px" alt="Paris">

        </div>

      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><br></div>
    </div>
  </div>
<div>
</div>
  <div id="body3">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><br></div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><br></div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-xl-7 col-lg-8 col-sm-12">
          <div class="container1">
            <div class="box">
              <img src="../../../assets/pexels-karolina-grabowska-4210341.jpg" height="275px" width="220px">
            </div>
            <div class="box overlay">
              <img src="../../../assets/pexels-karolina-grabowska-4210372.jpg" height="200px" width="250px">
            </div>
            <div class="box1" id="bigScreen">
              <img src="../../../assets/pexels-karolina-grabowska-4210371.jpg" height="275px" width="220px">
            </div>
            <div class="box overlay1" id="bigScreen">
              <img src="../../../assets/pexels-karolina-grabowska-4210373.jpg" height="200px" width="250px">
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-8 col-sm-12" id="smallScreen">
          <div class="container1">
            <div class="box">
              <img src="../../../assets/pexels-karolina-grabowska-4210371.jpg" height="275px" width="220px">
            </div>
            <div class="box overlay">
              <img src="../../../assets/pexels-karolina-grabowska-4210373.jpg" height="200px" width="250px">
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-4 col-sm-12" style="margin-left: auto; margin-right: auto;">
          <br><br><br><br>
          <h2>Specialization of our work</h2>
          <ul style="font-size: 20px;">
            <li>
              Gently worked with your clothes based on their fabric </li>
            <li>100% Natural ingridents are used</li>
            <li>Delivery On Time</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><br></div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><br></div>
  </div>
</div>





<div id="body2">
    <br><br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-6">
                <div class=" p-4 margin bg- text-dark">
                    <h2 style="color: white;">
                        About us
                    </h2>
                    <p style="font-size:25px;color: white;">We are skilled laundry workers that clean your
                        clothes so you can skip a few chores<br> and live a little more comfortably.<br> Your
                        garments will be
                        delivered on schedule after being cleaned by the laundry basket.</p>
                </div>
            </div>
            <div class="col-sm-4"><br>
                <img src="../../../assets/kisspng-drawing-heart-clip-art-hearts-vector-5addc5866b8d96.7564551915244834624406.png"
                    height="225px">
            </div>
            <div class="col-sm-1">

            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>