<div id="body3">
<div class="container">
    <div class="row">
        <div class="col-sm-7"><br><br>
            <h1 class="display-6">You're welcome for your support!</h1>
            <h1 class="display-6">Either of these platforms will do, so let's connect.</h1><br><br>
        </div>
        <div class="col-sm-2"></div>

        <div class="col-sm-1"><br><br>
            <a href="https://www.instagram.com/"><i class="fa fa-instagram"
                    style="font-size:36px"></i></a>
        </div>
        <div class="col-sm-1"><br><br>
            <a href="https://www.facebook.com/"> <i class="fa fa-facebook-f"
                    style="font-size:36px"></i></a>
        </div>
        <div class="col-sm-1"><br><br>
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" style="font-size:36px">
                </i></a>
        </div>
    </div>
    <hr style="height:2px;border-width:3px;color:black;background-color:black">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            @2023 The Laundry Basket</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-1">About us</div>
        <div class="col-sm-1">Privacy</div>
        <div class="col-sm-3">thelaundrybasket2023@gmail.com</div>
    </div>
</div>
</div>