.navbar-brand, .navbar-collapse, .navbar-expand-lg, .navbar-nav, .nav-link, .navbar{
    color: black !important;
}

.btn:hover{
    color: none !important;
}#box {
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }